{{ define "title"}} Home {{end}}
{{define "content"}}
<section class="min-h-[80vh] flex items-center justify-center p-4">
  <div class="w-full max-w-md rounded-xl overflow-hidden">
    <div class="p-6 rounded-t-xl">
      <h2 class="text-2xl font-bold text-center mb-4">Bon retour</h2>
      <form
        class="flex flex-col gap-2.5 w-sm mx-auto"
        action="/auth/login"
        method="post"
        target="_top"
      >
        <a
          class="btn bg-white text-black border-[#e5e5e5]"
          href="auth/google/login"
        >
          <svg
            aria-label="Logo Google"
            width="16"
            height="16"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <g>
              <path d="m0 0H512V512H0" fill="#fff"></path>
              <path
                fill="#34a853"
                d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"
              >
              </path>
              <path
                fill="#4285f4"
                d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"
              >
              </path>
              <path
                fill="#fbbc02"
                d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"
              >
              </path>
              <path
                fill="#ea4335"
                d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"
              >
              </path>
            </g>
          </svg>
          Se connecter avec Google
        </a>
        <div class="divider w-3xs mx-auto"></div>
        <div>
          <label class="input validator w-full">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
            <input
              type="email"
              name="email"
              placeholder="mail@site.com"
              required
            />
          </label>
          <div class="validator-hint hidden">
            Entrez une adresse e-mail valide
          </div>
        </div>
        <div>
          <label class="input validator w-full">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                </path>
                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
              </g>
            </svg>
            <input
              type="password"
              name="password"
              required
              placeholder="Mot de passe"
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Doit contenir plus de 8 caractères, incluant un chiffre, une lettre minuscule et une lettre majuscule"
            />
          </label>
          <p class="validator-hint hidden">
            Doit contenir plus de 8 caractères, dont :<br />
            Au moins un chiffre <br />
            Au moins une lettre minuscule <br />
            Au moins une lettre majuscule
          </p>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
      </form>
    </div>
    <div class="p-4 text-center text-sm text-gray-600 rounded-b-xl">
      <p>
        Vous n'avez pas de compte ?
        <a href="/auth/register" class="text-primary font-medium">Inscrivez-vous</a>
      </p>
    </div>
  </div>
</section>
{{end}}
